.health-risks-grd-sec-wrp{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.top-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    z-index: 1;
    height: 14px;
    background-size: cover !important;
    background-repeat: no-repeat!important;
    background-position: center top !important;
}
.btm-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
    height: 14px;
    background-size: cover !important;
    background-repeat: no-repeat!important;
    background-position: center bottom !important;
}
.fl-health-risks-head{
	padding-bottom: 40px;
}
.fl-health-risks-head h2{
	margin: 0;
	color: #fff;
	text-align: center;
	font-family: 'Merriweather-Black';
}
.fl-health-risks-head span{
	display: inline-block;
	vertical-align: baseline;
	color: #ff8003;
}
.fl-health-risks-content{
	color: #fff;
}

.health-risks-grd-wrp{
	padding-top: 30px;
}
.health-risks-grd-wrp li {
    width: 100%;
    max-width: 368px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 60px;
}
.health-risks-img {
    width: 233px;
    height: 232px;
    margin: 0 auto;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
}
.health-risks-dsc h3{
    margin: 0;
    font-family: 'Merriweather-Black';
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    line-height: 1.3;
    color: #fff;
}
.health-risks-dsc a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	text-decoration: none;
	font-size: 25px;
	line-height: 27px;
	color: #ff8003;
	font-family: 'Merriweather-Black';
	padding-top: 95px;
}
.health-risks-dsc a:hover{
	opacity: 0.5;
}


.plus-our-content-sec-wrp{
	padding-top: 50px;
	padding-bottom: 30px;
}
.plus-our-head{
	padding-bottom: 30px;
}
.plus-our-head h1{
	margin: 0;
	font-family: 'Merriweather-Black';
	text-align: center;
}
.plus-our-head h1 span{
	display: inline-block;
	vertical-align: baseline;
	color: #f15927;
}
.plus-our-dsc {
    padding-top: 5px;
    padding-right: 10px;
}
.hdr-btm-wave-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 1;
    height: 10px;
    background-position: center bottom!important;
    background-repeat: repeat-x!important;
}


.profile-show-sec-wrp{
	padding-bottom: 25px;
}
.profile-show-headding{
    padding: 30px 15px 25px;
    margin-left: -25px;
    margin-right: -25px;
    position: relative;
}
.profile-show-headding h2{
	margin: 0;
	color: #fff;
	text-align: center;
	font-family: 'Merriweather-Black';
}
.profile-show-wrp{
	padding-top: 20px;
}
.profile-show-wrp ul li{
    border-bottom: 2px solid #d8d8d8;
    border-top: 2px solid #d8d8d8;
    margin-bottom: 3px;
}
.profile-show-wrp ul li:first-child{
	border-top: 0;
}
.profile-show-wrp ul li:last-child{
	border-bottom: 0;
}
.profile-show-inr {
    padding: 30px 105px 35px 0;
}
.profile-show-wrp ul li:nth-child(2) .profile-show-inr {
    padding-right: 75px;
}
.profile-dsc{
    padding-left: 100px;
    background-repeat: no-repeat;
    background-position: left 5px top;
    background-size: 84px 84px;
    padding-top: 8px;
}
.profile-dsc h3{
	margin: 0;
	color: #004d8d;
	font-family: 'OpenSansBold';
	font-size: 22px;
	line-height: 1.2;
}
.profile-dsc h5{
    margin: 0;
    font-size: 20px;
    line-height: 22px;
    color: #252525;
    font-family: 'OpenSansBold';
    margin-bottom: 5px;
    margin-top: 5px;
}
.profile-dsc h5 em{
	display: inline-block;
	vertical-align: baseline;
	color: #bebebe;
	font-family: 'OpenSansItalic';
	font-size: 18px;
}
.profile-show-inr blockquote {
    padding: 0;
    margin: 0;
    border-left: 0;
    font-size: 20px;
    line-height: 24px;
    padding-top: 5px;
    color: #4c4c4c;
    font-family: 'OpenSansItalic';
    font-style: italic;
}

.sl-out-stock-sec {
    position: relative;
    padding-top: 65px;
    padding-bottom: 20px;
}
.out-stock-sec-hdr{
	padding-bottom: 40px;
}
.out-stock-sec-hdr h2{
	margin: 0;
	color: #fff;
	text-align: center;
	font-family: 'Merriweather-Black';
	line-height: 1.2;
}
.out-stock-sec-hdr h2 span{
	display: inline-block;
	vertical-align: baseline;
	color: #ff8003;
	padding-top: 20px;
}
.sl-out-stock-sec .dft-text-module{
	color: #fff;
}
.out-stock-btm-head h2{
	margin: 0;
	color: #fff;
	font-family: 'Merriweather-Black';
	text-align: center;
	font-size: 38px;
}
.out-stock-btm-head h2 span{
	color: #ff8003;
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: baseline;
}
.dft-text-btm-module {
    color: #fff;
    padding-top: 20px;
}
.dft-text-btm-module mark.brading-txt,
.sl-out-stock-sec .dft-text-module mark.brading-txt,
.fl-health-risks-content mark.brading-txt,
.sl-out-stock-sec .out-stock-sec-hdr mark.brading-txt,
.profile-show-headding mark.brading-txt,
.plus-our-head mark.brading-txt,
.fl-health-risks-head mark.brading-txt {
    color: #fff;
}
.sl-out-stock-sec .out-stock-btm-head mark.brading-txt,
.plus-our-head mark.brading-txt{
	color: #f15927;
}

/*----- max-width 1199px -----*/
@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.health-risks-grd-wrp ul{
		text-align: center;
	}
	.health-risks-grd-wrp li {
	    width: 100%;
	    max-width: 310px;
	}
	.profile-show-inr {
	    padding: 30px 40px 35px 0;
	}
	.profile-show-wrp ul li:nth-child(2) .profile-show-inr {
	    padding-right: 40px;
	}
	.profile-show-inr blockquote br{
		display: none;
	}

}

/*----- max-width 991px -----*/
@media(max-width: 991px){
	.health-risks-grd-wrp li {
	    width: 100%;
	    max-width: 355px;
	}
	.plus-our-img{
		text-align: center;
		padding-bottom: 20px;
	}
	.pull-right {
	    float: none!important;
	}
	.out-stock-sec-grd-img-1{
		padding-bottom: 30px;
	}
	.out-stock-sec-hdr h2 br{
		display: none;
	}
	.profile-show-inr {
	    padding: 30px 20px 35px 0;
	}
	.profile-show-wrp ul li:nth-child(2) .profile-show-inr {
	    padding-right: 20px;
	}
}

/*----- max-width 767px -----*/
@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.health-risks-grd-wrp li {
	    width: 100%;
	    max-width: 360px;
	    margin-bottom: 50px;
	}
	.health-risks-dsc a{
		padding-top: 0;
	}
	.profile-show-headding h2 br{
		display: none;
	}
	.profile-show-inr {
	    padding: 30px 10px 35px 0;
	}
	.profile-show-wrp ul li:nth-child(2) .profile-show-inr {
	    padding-right: 10px;
	}
	.profile-dsc {
	    padding-left: 80px;
	    background-position: left 5px top;
	    background-size: 60px 60px;
	}
	.profile-show-inr blockquote{
		font-size: 20px;
		line-height: 22px;
	}
	.profile-dsc h5{
		font-size: 18px;
		line-height: 20px;
	}
	.profile-dsc h3{
		font-size: 20px;
		line-height: 22px;
	}
}


/*----- max-width 575 -----*/
@media(max-width: 575px){
	.profile-dsc {
	    padding-left: 5px;
	    background-position: left 5px top;
	    background-size: 60px 60px;
	    padding-top: 70px;
	}
	.profile-show-inr {
	    padding: 20px 0px 20px 0;
	}
	.profile-show-wrp ul li:nth-child(2) .profile-show-inr {
	    padding-right: 0;
	}
	.profile-show-inr blockquote{
		font-size: 18px;
		line-height: 20px;
	}
	.health-risks-dsc h3 {
	    font-size: 23px;
	    line-height: 26px;
	}
}



/*----- max-width 439 -----*/
@media(max-width: 479px){


}


/*----- max-width 369 -----*/
@media(max-width: 359px){

}
